$color-primary: #1c1427;
$color-secondary: #dedce0;
$color-secondary-light: #fdfcff;

$color-tertiary: #40394a;

$color-text-dark: #7eca9c;
$color-text-light: #ccffbd;
$color-text-main: #000000;
$color-text-grey: #bebdc1;

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;

// RESPONSIVE
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem;
  color: $color-text-light;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

.container {
  display: grid;
  grid-template-rows: 95vh repeat(4, min-content);
}
