// $color-primary: #1c1427;
// $color-secondary: #dedce0;
// $color-secondary-light: #fdfcff;

// $color-tertiary: #40394a;

// $color-text-dark: #7eca9c;
// $color-text-light: #ccffbd;
// $color-text-main: #000000;
// $color-text-second: #393939;
// $color-text-grey: #bebdc1;

$color-primary: #ffffff;
$color-primary-light: #fdfcff;

$color-secondary: #252e32;

$color-tertiary: #065749;
$color-tertiary-light: #d5d8d9;
$color-tertiary-light-2: #e3e7e8;

$color-text-bright: #f8b400;

$color-text-main: #3f3f3f;
$color-text-dark: #036047;
$color-text-medium: #049e75;

$color-text-light: #01d59c;

$color-text-second: #393939;
$color-text-grey: #a6afb2;

$navy-shadow: rgba(129, 129, 129, 0.211);

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;

// RESPONSIVE
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  // background-color: $color-secondary;
  color: $color-text-main;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem;
  background: #fff url(../img/bg.png) repeat;
}

section {
  padding: 9rem 20rem;
  transition: transform 1s, opacity 1s;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2.5rem;
}

hr {
  border-top: 1px solid $color-text-grey;
  width: 50%;
  border-bottom: none;
  margin: auto;
}

.container {
  display: grid;
  margin: auto;
  grid-template-rows: repeat(4, minmax(min-content, 100vh)) 80vh 10vh;
  width: 80%;
  background-color: $color-primary;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
