.contact {
  // background-color: $color-tertiary-light;
  //   position: relative;
  // background-image: linear-gradient(45deg, rgba($color-tertiary-light, 0.9), rgba($color-tertiary-light, 0.9)), url(/img/contact.jpg);
  // background-size: cover;
  // background-position: top;

  &__content {
    display: grid;
    justify-items: center;
  }

  &__paragraph {
    width: 40rem;
    text-align: center;
    margin: 3rem 0;
  }
}

.contacts {
  &__btn {
    font-size: 2.5rem;
    height: 4rem;
    margin-bottom: 2rem;

    &:hover {
      background-color: rgba($color-bright, 0.15) !important;
    }
  }

  &__social {
    margin-top: 3rem;
  }
}
