.experience {
  position: relative;
  background-image: linear-gradient(rgba($color-primary, 0.95), rgba($color-primary, 0.95)), url(/img/exp.jpg);
  background-size: cover;
  background-position: top;
  color: $color-text-main;
  border-radius: 2px;

  &__content {
    display: grid;
    grid-gap: 1.25rem;
    background-color: $color-primary-light;
    padding: 2rem;
  }
}

.cert__item {
  display: grid;
  grid-template-columns: 12rem 1fr;
  transition: all 0.5s;
  border-radius: 3px;
  transition: all 0.3s;
  border-radius: 2px;

  &:hover {
    box-shadow: 10px 10px 20px -10px $navy-shadow;
    transform: translate(-0.5rem, -0.5rem);
  }

  &-date {
    background-color: $color-tertiary-light;
    text-align: center;
    font-size: 1.75rem;
    padding: 0.5rem 2rem;
  }

  &-type {
    text-align: center;
    font-size: 1.75rem;
    padding: 0.5rem 2rem;
    // color: $color-text-light;
  }

  &-heading {
    text-decoration: underline;
    font-size: 1.75rem;
    color: $color-bright;
  }

  &-desc {
    background-color: $color-secondary-light;
    padding: 0.5rem 2rem;
  }

  &-paragraph {
    padding: 0.5rem 0;
  }

  &-url {
    margin-top: 1rem;
    text-decoration: none;
    padding: 1px 2px;
    border-bottom: solid 1px;
    transition: all 0.5s;
    color: $color-bright;
  }
}
