.experience {
  background-color: $color-secondary-light;
  color: $color-text-main;
  padding: 3rem 20rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
