.header {
  padding: 20rem 8rem;
  justify-content: center;
  background-image: linear-gradient(45deg, rgba($color-primary, 1), rgba($color-primary, 0.95), rgba($color-primary, 0.8)), url(/img/header.jpg);
  position: relative;
  background-size: cover;
  background-position: top;

  @media only screen and (max-width: $bp-largest) {
    padding: 15rem 2rem;
  }

  &__text-box {
    height: 100%;
    background-image: linear-gradient(145deg, rgba($color-primary-light, 0.8), rgba($color-primary-light, 0));
    padding: 2rem;
    grid-column: 1 / 2;
    width: 85%;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-name: slider_header;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }
  }

  &__h1-primary {
    position: relative;
    line-height: 1.2;
    z-index: 11;
  }

  &__h1-secondary {
    color: $color-bright;
    line-height: 1;
  }

  &__p {
    padding: 3rem 0 2rem;
    width: 80%;

    @media only screen and (max-width: $bp-largest) {
      width: 90%;
    }
  }

  &__btn {
    margin-top: 2rem;
    font-size: 2.5rem;
    // color: $color-text-bright !important;
  }
}

@keyframes slider_header {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
