$nav-height: 7rem;

.logo-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  height: 3rem;
}

.sticky {
  position: fixed;
  background-color: rgba($color-primary, 0.8);
  backdrop-filter: blur(10px);
}

.shadow {
  box-shadow: 0 10px 30px -10px $navy-shadow;
}

.nav-hide {
  transform: translateY(calc(7rem * -1));
  box-shadow: 0;
}

.navigation {
  z-index: 1000;
  height: $nav-height;
  width: 100%;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  &__btn {
    grid-column: 3 / -1;
    margin-left: 15px;
  }

  &__nav {
    display: flex;
    justify-content: end;
    grid-column: 2 / -2;
  }

  &__item {
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;

      span {
        color: $color-text-dark;
        margin-right: 0.5rem;
        display: inline-block;
      }
    }
    &:hover {
      color: $color-text-dark;
    }
  }
}
