$nav-height: 6rem;

.logo-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  font-size: 3rem;
  // color: $color-primary;
}

.sticky {
  position: fixed;
  // background-image: linear-gradient(180deg, rgba($color-primary, 0.5), rgba($color-tertiary-light, 0.5));
  background-color: rgba($color-primary, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px -10px $navy-shadow;
  border-bottom: none;
}

.nav-back {
  background-color: $color-tertiary-light;
  color: $color-secondary-light;
  position: fixed;
  box-shadow: 0;
}

.navigation {
  z-index: 1000;
  height: $nav-height;
  font-weight: 400;
  width: 100%;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: center;
  align-items: center;

  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-delay: 0s;
  animation-name: slider;

  &__btn {
    grid-column: 3 / -1;
    margin-left: 15px;

    @media only screen and (max-width: $bp-medium) {
      opacity: 0;
    }
  }

  &__nav {
    display: flex;
    justify-content: end;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;

      background-color: rgba($color-primary, 0.8);
      backdrop-filter: blur(20px);
      box-shadow: 0 10px 30px -10px $navy-shadow;
      border-bottom: none;

      font-size: 2.25rem;
      top: 0px;
      bottom: 0px;
      right: 0px;
      padding: 5rem 1rem;
      z-index: 9;
      opacity: 0;

      height: 110vh;
      width: 40vw;

      transform: translateX(30vw);
      transition: all 0.9s;
    }
  }

  &__checkbox {
    display: none;
  }

  &__button {
    display: none;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10000;
    text-align: center;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      display: block;
    }
  }

  .navigation__icon {
    color: $color-bright;
    position: relative;
    margin-top: 2rem;
    right: 0px;

    &,
    &::before,
    &::after {
      right: 0px;
      width: 3rem;
      height: 3px;
      background-color: $color-bright;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    transform: translateX(0vw);
  }

  &__item {
    margin: 1rem;
    display: inline-block;
    text-decoration: none;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin-top: 3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-text-main;
      text-decoration: none;
      transition: all 0.5s;

      span {
        color: $color-bright;
        margin-right: 0.5rem;
        display: inline-block;
      }
    }
    &:hover {
      color: $color-bright;
    }
  }
}

@keyframes slider {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
