.work {
  background-color: $color-primary;
  position: relative;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    grid-gap: 7rem;
  }
}

.project {
  background-color: $color-primary-light;
  padding: 1rem;
  border-radius: 2px;
  // display: flex;
  // flex-direction: column;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr min-content;
  transition: all 0.3s;
  border-radius: 2px;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 10px 10px 20px -10px $navy-shadow;
  }

  &__header {
    background-color: $color-tertiary-light;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // align-self: stretch;
  }

  &__img {
    width: 100%;
    border: solid 1px $color-secondary-light;
  }

  &__name {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    color: $color-bright;
  }

  &__discription {
    &-p {
      padding: 1rem;
    }
  }

  &__tech {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;

    &-item {
      margin: 0.5rem 0.5rem;
      padding: 0 0.5rem;
      background-color: $color-secondary-light;
    }
  }

  &__web-item {
    padding: 0 0.5rem;
    justify-items: center;
  }
}
